<div id="content_wrapper">
  <div id="clouds_bg"><img src="img/clouds_bg.png"></div>
  <div id="clouds_blue"><img src="img/clouds_blue.png"></div>
  <div id="clouds_dark_blue"><img src="img/clouds_dark_blue.png"></div>
  <div id="clouds_white"><img src="img/clouds_white.png"></div>
  <div id="content">
    <h1>Hello World</h1>
    <p>Welcome to Appfog.</p>
  </div>
</div>
